*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.containers{
    font-family: sans-serif;
    margin: 0 0px;
    background-color: #e5e5e5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;

}

h4{
    margin-top: 35px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    margin: 0px 25px;
    
}

img{
    border: 2px solid black;
    height: 250px;
    width: 350px;
}
button{
    border-radius: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 70px;
}

table{
    margin-top: 75px;
    width: 100%;
}

td, th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

.center{
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

.search{
    font-size: 18px;
    margin-top: 25px;
    margin-left: 53px;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    height: 30px;
}

#add{
    float: right;
    margin-top: 20px;
    margin-right: 20px;

}

#del{
    background-color: red;
}
